flows.json
[
    {
        "id": "8c47e81d6c0d7f24",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "5024414ceab8c8b2",
        "type": "tab",
        "label": "sonoff",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "6ba80d9a73c1b250",
        "type": "tab",
        "label": "tabla",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "31a99116.50a74e",
        "type": "mqtt-broker",
        "name": "",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "9746f5e73a10a06f",
        "type": "mqtt-broker",
        "name": "",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "743acd8e3da72623",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "05cd1bad6830275a",
        "type": "ui_base",
        "theme": {
            "name": "theme-dark",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#097479",
                    "value": "#097479",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#111111",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#0eb8c0",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#555555",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#eeeeee",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#333333",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "6bd222ac346f1e94",
        "type": "ui_group",
        "name": "Default",
        "tab": "743acd8e3da72623",
        "order": 1,
        "disp": true,
        "width": "25",
        "collapse": false,
        "className": ""
    },
    {
        "id": "8d8140ebb010027f",
        "type": "ui_tab",
        "name": "Grafica estado",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "217c870c3da20c03",
        "type": "ui_group",
        "name": "Estado servidor",
        "tab": "8d8140ebb010027f",
        "order": 1,
        "disp": true,
        "width": "23",
        "collapse": false,
        "className": ""
    },
    {
        "id": "bc7760429d1cafbf",
        "type": "inject",
        "z": "8c47e81d6c0d7f24",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 220,
        "y": 80,
        "wires": [
            [
                "4eeefcde8603177a"
            ]
        ]
    },
    {
        "id": "4eeefcde8603177a",
        "type": "debug",
        "z": "8c47e81d6c0d7f24",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 580,
        "y": 140,
        "wires": []
    },
    {
        "id": "bf1734b93fd4b3eb",
        "type": "exec",
        "z": "8c47e81d6c0d7f24",
        "command": "ping google.com",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 520,
        "y": 280,
        "wires": [
            [
                "9d57a2fa79c11126"
            ],
            [],
            []
        ]
    },
    {
        "id": "b5be0dec28c73398",
        "type": "inject",
        "z": "8c47e81d6c0d7f24",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 760,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "9d57a2fa79c11126",
        "type": "debug",
        "z": "8c47e81d6c0d7f24",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 760,
        "y": 300,
        "wires": []
    },
    {
        "id": "c8c4f36cd73581f1",
        "type": "inject",
        "z": "8c47e81d6c0d7f24",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 260,
        "y": 260,
        "wires": [
            [
                "bf1734b93fd4b3eb"
            ]
        ]
    },
    {
        "id": "c769d64b85990897",
        "type": "ui_chart",
        "z": "8c47e81d6c0d7f24",
        "name": "",
        "group": "217c870c3da20c03",
        "order": 0,
        "width": "23",
        "height": "14",
        "label": "chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 630,
        "y": 420,
        "wires": [
            []
        ]
    },
    {
        "id": "b227e5a55ca2c692",
        "type": "ping",
        "z": "8c47e81d6c0d7f24",
        "protocol": "Automatic",
        "mode": "timed",
        "name": "estado servidor",
        "host": "www.google.com",
        "timer": "5",
        "inputs": 0,
        "x": 360,
        "y": 380,
        "wires": [
            [
                "c769d64b85990897"
            ]
        ]
    },
    {
        "id": "31a99116.86e71",
        "type": "Sonoff device",
        "z": "5024414ceab8c8b2",
        "mode": "0",
        "broker": "31a99116.50a74e",
        "device": "light_livingroom",
        "name": "Living Room Light",
        "onValue": "ON",
        "offValue": "OFF",
        "cmdPrefix": "cmnd",
        "statPrefix": "stat",
        "telePrefix": "tele",
        "x": 650,
        "y": 440,
        "wires": [
            []
        ]
    },
    {
        "id": "e9ade7b5dd0c05e5",
        "type": "aedes broker",
        "z": "5024414ceab8c8b2",
        "name": "",
        "mqtt_port": 1883,
        "mqtt_ws_bind": "port",
        "mqtt_ws_port": "",
        "mqtt_ws_path": "",
        "cert": "",
        "key": "",
        "certname": "",
        "keyname": "",
        "dburl": "",
        "usetls": false,
        "x": 370,
        "y": 80,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "1c1c43337d75c705",
        "type": "mqtt in",
        "z": "5024414ceab8c8b2",
        "name": "",
        "topic": "xx",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "9746f5e73a10a06f",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 470,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "5aac47247eea5362",
        "type": "amazon-echo-hub",
        "z": "5024414ceab8c8b2",
        "port": "8080",
        "processinput": "3",
        "discovery": true,
        "x": 770,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "1ade89c8dfce393d",
        "type": "amazon-echo-device",
        "z": "5024414ceab8c8b2",
        "name": "oficina",
        "topic": "encender",
        "x": 350,
        "y": 420,
        "wires": [
            []
        ]
    },
    {
        "id": "a792c41b39b91f1b",
        "type": "mqtt out",
        "z": "5024414ceab8c8b2",
        "name": "",
        "topic": "hh",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "31a99116.50a74e",
        "x": 250,
        "y": 300,
        "wires": []
    },
    {
        "id": "314f7d9631e686d4",
        "type": "ui_table",
        "z": "6ba80d9a73c1b250",
        "group": "6bd222ac346f1e94",
        "name": "jjj",
        "order": 0,
        "width": "25",
        "height": "1",
        "columns": [],
        "outputs": 1,
        "cts": true,
        "x": 670,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "af7560574faf76b4",
        "type": "inject",
        "z": "6ba80d9a73c1b250",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 280,
        "y": 160,
        "wires": [
            [
                "314f7d9631e686d4"
            ]
        ]
    }
]