flows.json
[
    {
        "id": "8c47e81d6c0d7f24",
        "type": "tab",
        "label": "comandos",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "5024414ceab8c8b2",
        "type": "tab",
        "label": "sonoff",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "6ba80d9a73c1b250",
        "type": "tab",
        "label": "tabla",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "fd0fab0ccbf119b7",
        "type": "tab",
        "label": "circuitos rack",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "0e532777838320eb",
        "type": "tab",
        "label": "luces oficina",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "9e23ca12.c7d9d",
        "type": "tab",
        "label": "speedtest",
        "disabled": false,
        "info": ""
    },
    {
        "id": "7f84d0fc.49d6f",
        "type": "tab",
        "label": "Database",
        "disabled": false,
        "info": ""
    },
    {
        "id": "ebf8df8a470fbb3e",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "67c588bef353f9fb",
        "type": "tab",
        "label": "Flujo 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "e6beddd063317a40",
        "type": "tab",
        "label": "ChatGPT API Demo",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "31a99116.50a74e",
        "type": "mqtt-broker",
        "name": "",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "9746f5e73a10a06f",
        "type": "mqtt-broker",
        "name": "",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "743acd8e3da72623",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "05cd1bad6830275a",
        "type": "ui_base",
        "theme": {
            "name": "theme-dark",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "reset": false
            },
            "themeState": {
                "base-color": {
                    "default": "#097479",
                    "value": "#097479",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#111111",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#0eb8c0",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#555555",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#eeeeee",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#333333",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "6bd222ac346f1e94",
        "type": "ui_group",
        "name": "Default",
        "tab": "743acd8e3da72623",
        "order": 1,
        "disp": true,
        "width": "25",
        "collapse": false,
        "className": ""
    },
    {
        "id": "8d8140ebb010027f",
        "type": "ui_tab",
        "name": "Grafica estado",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "217c870c3da20c03",
        "type": "ui_group",
        "name": "Estado servidor",
        "tab": "8d8140ebb010027f",
        "order": 1,
        "disp": true,
        "width": "23",
        "collapse": false,
        "className": ""
    },
    {
        "id": "2cf015107704904d",
        "type": "ui_tab",
        "name": "Rack",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "a0e1664bf67b8f20",
        "type": "ui_group",
        "name": "Salidas",
        "tab": "2cf015107704904d",
        "order": 1,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "b0c1535decc5cb95",
        "type": "ui_group",
        "name": "Default",
        "tab": "2cf015107704904d",
        "order": 2,
        "disp": true,
        "width": "12",
        "collapse": false,
        "className": ""
    },
    {
        "id": "1df6106ece23609a",
        "type": "ui_link",
        "name": "Link 5",
        "icon": "open_in_browser",
        "target": "newtab",
        "order": 5
    },
    {
        "id": "41840351ade04a83",
        "type": "ui_link",
        "name": "Link 6",
        "icon": "open_in_browser",
        "target": "newtab",
        "order": 6
    },
    {
        "id": "1595f349.f61db5",
        "type": "ui_tab",
        "name": "Sites",
        "icon": "dashboard",
        "order": 3
    },
    {
        "id": "1cc42b54.99f39d",
        "type": "ui_group",
        "name": "Speed",
        "tab": "1595f349.f61db5",
        "order": 2,
        "disp": true,
        "width": "20",
        "collapse": false
    },
    {
        "id": "5addf68094c598c3",
        "type": "ui_group",
        "name": "Default",
        "tab": "1595f349.f61db5",
        "order": 2,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "34054411.bf9404",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard"
    },
    {
        "id": "d44d4f44.3219e8",
        "type": "ui_group",
        "name": "Sensors",
        "tab": "34054411.bf9404",
        "order": 1,
        "disp": true,
        "width": "12",
        "collapse": false
    },
    {
        "id": "81035a881db37229",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "e38f7bf677b4d54a",
        "type": "ui_group",
        "name": "Default",
        "tab": "81035a881db37229",
        "order": 1,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "8274941a.73344",
        "type": "sqlitedb",
        "db": "/home/pi/.node-red/data/sites.db",
        "mode": "RWC"
    },
    {
        "id": "f5a33dc2.f6f08",
        "type": "sqlitedb",
        "db": "c:\\users\\steve\\.node-red\\test.db",
        "mode": "RWC"
    },
    {
        "id": "ef11a2ec986362b8",
        "type": "alexa-home-conf",
        "username": ""
    },
    {
        "id": "deb7f8ce1d15f8a2",
        "type": "alexa-remote-account",
        "name": "",
        "authMethod": "proxy",
        "proxyOwnIp": "localhost",
        "proxyPort": "3456",
        "cookieFile": "",
        "refreshInterval": "3",
        "alexaServiceHost": "pitangui.amazon.com",
        "amazonPage": "amazon.com",
        "acceptLanguage": "en-US",
        "userAgent": "",
        "useWsMqtt": "on",
        "autoInit": "on"
    },
    {
        "id": "95e45f0f425133dc",
        "type": "alexa-home-conf",
        "username": ""
    },
    {
        "id": "ed43e3196a0ae0f0",
        "type": "alexa-remote-account",
        "name": "zzz",
        "authMethod": "password",
        "proxyOwnIp": "localhost",
        "proxyPort": "3456",
        "cookieFile": "",
        "refreshInterval": "3",
        "alexaServiceHost": "pitangui.amazon.com",
        "amazonPage": "amazon.com",
        "acceptLanguage": "en-US",
        "userAgent": "",
        "useWsMqtt": "on",
        "autoInit": "on"
    },
    {
        "id": "82251b20bd39e989",
        "type": "alexa-remote-account",
        "name": "",
        "authMethod": "cookie",
        "proxyOwnIp": "localhost",
        "proxyPort": "3456",
        "cookieFile": "",
        "refreshInterval": "3",
        "alexaServiceHost": "pitangui.amazon.com",
        "amazonPage": "amazon.com",
        "acceptLanguage": "en-US",
        "userAgent": "",
        "useWsMqtt": "on",
        "autoInit": "on"
    },
    {
        "id": "15f45a2decd417e7",
        "type": "alexa-remote-account",
        "name": "",
        "authMethod": "cookie",
        "proxyOwnIp": "localhost",
        "proxyPort": "3456",
        "cookieFile": "",
        "refreshInterval": "3",
        "alexaServiceHost": "pitangui.amazon.com",
        "amazonPage": "amazon.com",
        "acceptLanguage": "en-US",
        "userAgent": "",
        "useWsMqtt": "on",
        "autoInit": "on"
    },
    {
        "id": "96d9aad5f4d957e7",
        "type": "alexa-remote-account",
        "name": "",
        "authMethod": "proxy",
        "proxyOwnIp": "localhost",
        "proxyPort": "3456",
        "cookieFile": "",
        "refreshInterval": "3",
        "alexaServiceHost": "pitangui.amazon.com",
        "amazonPage": "amazon.com",
        "acceptLanguage": "en-US",
        "userAgent": "",
        "useWsMqtt": "on",
        "autoInit": "on"
    },
    {
        "id": "f44338c9933907ad",
        "type": "alexa-remote-account",
        "name": "",
        "authMethod": "password",
        "proxyOwnIp": "localhost",
        "proxyPort": "3456",
        "cookieFile": "",
        "refreshInterval": "3",
        "alexaServiceHost": "pitangui.amazon.com",
        "amazonPage": "amazon.com",
        "acceptLanguage": "en-US",
        "userAgent": "",
        "useWsMqtt": "on",
        "autoInit": "on"
    },
    {
        "id": "4cad4944b6e50bcb",
        "type": "alexa-remote-account",
        "name": "",
        "authMethod": "cookie",
        "proxyOwnIp": "localhost",
        "proxyPort": "3456",
        "cookieFile": "",
        "refreshInterval": "3",
        "alexaServiceHost": "pitangui.amazon.com",
        "amazonPage": "amazon.com",
        "acceptLanguage": "en-US",
        "userAgent": "",
        "useWsMqtt": "on",
        "autoInit": "on"
    },
    {
        "id": "db6788bee29c2d18",
        "type": "alexa-remote-account",
        "name": "",
        "authMethod": "proxy",
        "proxyOwnIp": "localhost",
        "proxyPort": "3456",
        "cookieFile": "",
        "refreshInterval": "3",
        "alexaServiceHost": "pitangui.amazon.com",
        "amazonPage": "amazon.com",
        "acceptLanguage": "en-US",
        "userAgent": "",
        "useWsMqtt": "on",
        "autoInit": "on"
    },
    {
        "id": "706c02af75d35a7e",
        "type": "alexa-remote-account",
        "name": "",
        "authMethod": "proxy",
        "proxyOwnIp": "localhost",
        "proxyPort": "3456",
        "cookieFile": "",
        "refreshInterval": "3",
        "alexaServiceHost": "pitangui.amazon.com",
        "amazonPage": "amazon.com",
        "acceptLanguage": "en-US",
        "userAgent": "",
        "useWsMqtt": "on",
        "autoInit": "on"
    },
    {
        "id": "bc7760429d1cafbf",
        "type": "inject",
        "z": "8c47e81d6c0d7f24",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 220,
        "y": 80,
        "wires": [
            [
                "4eeefcde8603177a"
            ]
        ]
    },
    {
        "id": "4eeefcde8603177a",
        "type": "debug",
        "z": "8c47e81d6c0d7f24",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 580,
        "y": 140,
        "wires": []
    },
    {
        "id": "bf1734b93fd4b3eb",
        "type": "exec",
        "z": "8c47e81d6c0d7f24",
        "command": "ping google.com",
        "addpay": "payload",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 460,
        "y": 240,
        "wires": [
            [
                "9d57a2fa79c11126"
            ],
            [],
            []
        ]
    },
    {
        "id": "b5be0dec28c73398",
        "type": "inject",
        "z": "8c47e81d6c0d7f24",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 760,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "9d57a2fa79c11126",
        "type": "debug",
        "z": "8c47e81d6c0d7f24",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 760,
        "y": 300,
        "wires": []
    },
    {
        "id": "c8c4f36cd73581f1",
        "type": "inject",
        "z": "8c47e81d6c0d7f24",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 260,
        "y": 260,
        "wires": [
            [
                "bf1734b93fd4b3eb"
            ]
        ]
    },
    {
        "id": "c769d64b85990897",
        "type": "ui_chart",
        "z": "8c47e81d6c0d7f24",
        "name": "",
        "group": "217c870c3da20c03",
        "order": 0,
        "width": "23",
        "height": "14",
        "label": "chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 630,
        "y": 400,
        "wires": [
            []
        ]
    },
    {
        "id": "b227e5a55ca2c692",
        "type": "ping",
        "z": "8c47e81d6c0d7f24",
        "protocol": "Automatic",
        "mode": "timed",
        "name": "estado servidor",
        "host": "www.google.com",
        "timer": "5",
        "inputs": 0,
        "x": 360,
        "y": 380,
        "wires": [
            [
                "c769d64b85990897"
            ]
        ]
    },
    {
        "id": "23cf19f30950dc60",
        "type": "inject",
        "z": "8c47e81d6c0d7f24",
        "name": "ping",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "sudo ping 8.8.8.8",
        "payloadType": "str",
        "x": 190,
        "y": 420,
        "wires": [
            [
                "8b4dc4572397daab"
            ]
        ]
    },
    {
        "id": "716a42db87720ee1",
        "type": "debug",
        "z": "8c47e81d6c0d7f24",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 520,
        "y": 440,
        "wires": []
    },
    {
        "id": "8b4dc4572397daab",
        "type": "exec",
        "z": "8c47e81d6c0d7f24",
        "command": "",
        "addpay": "payload",
        "append": "",
        "useSpawn": "true",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 340,
        "y": 440,
        "wires": [
            [
                "716a42db87720ee1"
            ],
            [],
            []
        ]
    },
    {
        "id": "dc0791b78935c90d",
        "type": "promptinput",
        "z": "8c47e81d6c0d7f24",
        "name": "",
        "datatype": "str",
        "prompt": "",
        "property": "payload",
        "propertyType": "msg",
        "validation": "",
        "validationType": "ejsonata",
        "x": 190,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "e9ade7b5dd0c05e5",
        "type": "aedes broker",
        "z": "5024414ceab8c8b2",
        "name": "",
        "mqtt_port": 1883,
        "mqtt_ws_bind": "port",
        "mqtt_ws_port": "",
        "mqtt_ws_path": "",
        "cert": "",
        "key": "",
        "certname": "",
        "keyname": "",
        "dburl": "",
        "usetls": false,
        "x": 370,
        "y": 80,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "1c1c43337d75c705",
        "type": "mqtt in",
        "z": "5024414ceab8c8b2",
        "name": "",
        "topic": "xx",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "9746f5e73a10a06f",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 630,
        "y": 60,
        "wires": [
            []
        ]
    },
    {
        "id": "a792c41b39b91f1b",
        "type": "mqtt out",
        "z": "5024414ceab8c8b2",
        "name": "",
        "topic": "hh",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "31a99116.50a74e",
        "x": 90,
        "y": 60,
        "wires": []
    },
    {
        "id": "31a99116.86e71",
        "type": "Sonoff device",
        "z": "5024414ceab8c8b2",
        "mode": "0",
        "broker": "31a99116.50a74e",
        "device": "light_livingroom",
        "name": "Living Room Light",
        "onValue": "ON",
        "offValue": "OFF",
        "cmdPrefix": "cmnd",
        "statPrefix": "stat",
        "telePrefix": "tele",
        "x": 650,
        "y": 440,
        "wires": [
            []
        ]
    },
    {
        "id": "af021b2a8951a67a",
        "type": "mqtt-check",
        "z": "5024414ceab8c8b2",
        "host": "localhost",
        "port": "1883",
        "username": "",
        "password": "",
        "name": "",
        "x": 500,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "af7560574faf76b4",
        "type": "inject",
        "z": "6ba80d9a73c1b250",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 280,
        "y": 160,
        "wires": [
            [
                "314f7d9631e686d4"
            ]
        ]
    },
    {
        "id": "314f7d9631e686d4",
        "type": "ui_table",
        "z": "6ba80d9a73c1b250",
        "group": "6bd222ac346f1e94",
        "name": "jjj",
        "order": 0,
        "width": "25",
        "height": "1",
        "columns": [],
        "outputs": 1,
        "cts": true,
        "x": 670,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "7273aad9503671b3",
        "type": "ui_switch",
        "z": "fd0fab0ccbf119b7",
        "name": "",
        "label": "switch",
        "tooltip": "",
        "group": "a0e1664bf67b8f20",
        "order": 11,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 130,
        "y": 60,
        "wires": [
            [
                "f6edbdba7e3c93e7"
            ]
        ]
    },
    {
        "id": "021ba9fa82cc1a5b",
        "type": "ui_switch",
        "z": "fd0fab0ccbf119b7",
        "name": "",
        "label": "switch",
        "tooltip": "",
        "group": "a0e1664bf67b8f20",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 130,
        "y": 140,
        "wires": [
            [
                "033a8c1e71eb55a8"
            ]
        ]
    },
    {
        "id": "16727cc8b297ef59",
        "type": "ui_switch",
        "z": "fd0fab0ccbf119b7",
        "name": "",
        "label": "switch",
        "tooltip": "",
        "group": "a0e1664bf67b8f20",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 130,
        "y": 200,
        "wires": [
            [
                "ca2f72dc32f219bf"
            ]
        ]
    },
    {
        "id": "b0648fc85fa37c7d",
        "type": "ui_switch",
        "z": "fd0fab0ccbf119b7",
        "name": "",
        "label": "switch",
        "tooltip": "",
        "group": "a0e1664bf67b8f20",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 130,
        "y": 260,
        "wires": [
            [
                "5d4895e6477e8c8b"
            ]
        ]
    },
    {
        "id": "5ec35365808f527e",
        "type": "ui_switch",
        "z": "fd0fab0ccbf119b7",
        "name": "",
        "label": "switch",
        "tooltip": "",
        "group": "a0e1664bf67b8f20",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 130,
        "y": 320,
        "wires": [
            [
                "832cbf49e66223b5"
            ]
        ]
    },
    {
        "id": "030c1e3c0b1270c8",
        "type": "ui_switch",
        "z": "fd0fab0ccbf119b7",
        "name": "",
        "label": "switch",
        "tooltip": "",
        "group": "a0e1664bf67b8f20",
        "order": 6,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 130,
        "y": 380,
        "wires": [
            [
                "e19cb7a2dcd2b47c"
            ]
        ]
    },
    {
        "id": "f6edbdba7e3c93e7",
        "type": "ui_led",
        "z": "fd0fab0ccbf119b7",
        "order": 6,
        "group": "b0c1535decc5cb95",
        "width": 0,
        "height": 0,
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#008000",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "",
        "x": 430,
        "y": 60,
        "wires": []
    },
    {
        "id": "033a8c1e71eb55a8",
        "type": "ui_led",
        "z": "fd0fab0ccbf119b7",
        "order": 1,
        "group": "a0e1664bf67b8f20",
        "width": 0,
        "height": 0,
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#008000",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "",
        "x": 450,
        "y": 140,
        "wires": []
    },
    {
        "id": "ca2f72dc32f219bf",
        "type": "ui_led",
        "z": "fd0fab0ccbf119b7",
        "order": 7,
        "group": "a0e1664bf67b8f20",
        "width": 0,
        "height": 0,
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#008000",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "",
        "x": 450,
        "y": 200,
        "wires": []
    },
    {
        "id": "5d4895e6477e8c8b",
        "type": "ui_led",
        "z": "fd0fab0ccbf119b7",
        "order": 8,
        "group": "a0e1664bf67b8f20",
        "width": 0,
        "height": 0,
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#008000",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "",
        "x": 450,
        "y": 260,
        "wires": []
    },
    {
        "id": "832cbf49e66223b5",
        "type": "ui_led",
        "z": "fd0fab0ccbf119b7",
        "order": 9,
        "group": "a0e1664bf67b8f20",
        "width": 0,
        "height": 0,
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#008000",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "",
        "x": 450,
        "y": 320,
        "wires": []
    },
    {
        "id": "e19cb7a2dcd2b47c",
        "type": "ui_led",
        "z": "fd0fab0ccbf119b7",
        "order": 10,
        "group": "a0e1664bf67b8f20",
        "width": 0,
        "height": 0,
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#008000",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "",
        "x": 450,
        "y": 380,
        "wires": []
    },
    {
        "id": "c1750149.7c5bf",
        "type": "inject",
        "z": "9e23ca12.c7d9d",
        "name": "",
        "repeat": "3600",
        "crontab": "",
        "once": true,
        "onceDelay": "1",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 150,
        "y": 160,
        "wires": [
            [
                "1c7eebf4.fbb444"
            ]
        ]
    },
    {
        "id": "1c7eebf4.fbb444",
        "type": "exec",
        "z": "9e23ca12.c7d9d",
        "command": "speedtest-cli",
        "addpay": "payload",
        "append": "--json",
        "useSpawn": "false",
        "timer": "60",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 210,
        "y": 60,
        "wires": [
            [
                "d4353dc7.c7c868",
                "f21a113.9e6507"
            ],
            [],
            [
                "f21a113.9e6507"
            ]
        ]
    },
    {
        "id": "fb779c41.018bc",
        "type": "ui_chart",
        "z": "9e23ca12.c7d9d",
        "name": "",
        "group": "5addf68094c598c3",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "Internet Speed",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "24",
        "removeOlder": "12",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#fcb09a",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 640,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "d4353dc7.c7c868",
        "type": "function",
        "z": "9e23ca12.c7d9d",
        "name": "main function",
        "func": "var payload=JSON.parse(msg.payload);\nvar download=(payload.download/1000000).toFixed(2);\nvar upload=(payload.upload/1000000).toFixed(2);\nvar timestamp=payload.timestamp;\nd=new Date(timestamp);\ntimestamp=d.getTime();\n//msg.payload=[download,upload,timestamp];\nm_out=\"( timestamp,download,upload) values(\"+timestamp +\",\\'\"+download +\"\\'\" +\",\\'\"+ upload+\"\\')\";\nvar topic=\"INSERT INTO SPEED \" +m_out;\nmsg.topic=topic;\nmsg.payload=\"\";\n\nvar msg2={};\nvar msg3={};\nmsg2.topic=\"download\";\nmsg2.payload=download;\nmsg3.topic=\"upload\";\nmsg3.payload=upload;\nvar msg1=[msg2,msg3];\nreturn [msg,msg1];",
        "outputs": 2,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 430,
        "y": 80,
        "wires": [
            [
                "6b731213.4cf244"
            ],
            [
                "fb779c41.018bc"
            ]
        ]
    },
    {
        "id": "f90f3601.c2b66",
        "type": "inject",
        "z": "9e23ca12.c7d9d",
        "name": "Create table speed",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "CREATE TABLE SPEED(TIMESTAMP INT PRIMARY KEY NOT NULL, DOWNLOAD TEXT NOT NULL, UPLOAD TEXT NOT NULL)",
        "payload": "",
        "payloadType": "str",
        "x": 170,
        "y": 240,
        "wires": [
            [
                "6b731213.4cf244"
            ]
        ]
    },
    {
        "id": "480cb353.f8170c",
        "type": "inject",
        "z": "9e23ca12.c7d9d",
        "name": "drop table speed",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "drop table speed",
        "payload": "",
        "payloadType": "str",
        "x": 160,
        "y": 300,
        "wires": [
            [
                "6b731213.4cf244"
            ]
        ]
    },
    {
        "id": "4d6a8c52.90fd9c",
        "type": "inject",
        "z": "9e23ca12.c7d9d",
        "name": "remove all records-speed",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "DELETE FROM SPEED WHERE TIMESTAMP>=0",
        "payload": "",
        "payloadType": "str",
        "x": 190,
        "y": 360,
        "wires": [
            [
                "6b731213.4cf244"
            ]
        ]
    },
    {
        "id": "4585c942.f34e18",
        "type": "debug",
        "z": "9e23ca12.c7d9d",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 550,
        "y": 320,
        "wires": []
    },
    {
        "id": "f21a113.9e6507",
        "type": "debug",
        "z": "9e23ca12.c7d9d",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 390,
        "y": 160,
        "wires": []
    },
    {
        "id": "6b731213.4cf244",
        "type": "sqlite",
        "z": "9e23ca12.c7d9d",
        "mydb": "8274941a.73344",
        "sqlquery": "msg.topic",
        "sql": "",
        "name": "sites database",
        "x": 580,
        "y": 220,
        "wires": [
            [
                "4585c942.f34e18"
            ]
        ]
    },
    {
        "id": "e4921ea0.5ee538",
        "type": "inject",
        "z": "7f84d0fc.49d6f",
        "name": "create database table",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "topic": "CREATE TABLE data(TIMESTAMP INT PRIMARY KEY NOT NULL, SENSOR TEXT NOT NULL, TEMPERATURE INT NOT NULL, HUMIDITY INT NOT NULL)",
        "payload": "",
        "payloadType": "date",
        "x": 160,
        "y": 80,
        "wires": [
            [
                "41be04d2.d76fc4"
            ]
        ]
    },
    {
        "id": "df3ec565.41cf",
        "type": "debug",
        "z": "7f84d0fc.49d6f",
        "name": "database_out",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 640,
        "y": 300,
        "wires": []
    },
    {
        "id": "6c8d4c99.7532ac",
        "type": "inject",
        "z": "7f84d0fc.49d6f",
        "name": "insert data",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 120,
        "y": 400,
        "wires": [
            [
                "3ad7c728.b01598"
            ]
        ]
    },
    {
        "id": "c0c0246e.0f5ed",
        "type": "function",
        "z": "7f84d0fc.49d6f",
        "name": "Insert",
        "func": "var newMsg = {\n \"topic\": \"INSERT INTO data ( timestamp,sensor,temperature,humidity) values(0,'sensor',20,66)\"\n};\n\nreturn newMsg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 430,
        "y": 140,
        "wires": [
            [
                "41be04d2.d76fc4",
                "aef24493.aeb0c8"
            ]
        ]
    },
    {
        "id": "8a2750f3.e4eaa",
        "type": "inject",
        "z": "7f84d0fc.49d6f",
        "name": "delete records",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "topic": "DELETE FROM DATA WHERE TIMESTAMP>=0",
        "payload": "",
        "payloadType": "date",
        "x": 140,
        "y": 120,
        "wires": [
            [
                "41be04d2.d76fc4"
            ]
        ]
    },
    {
        "id": "c885f7e0.416228",
        "type": "inject",
        "z": "7f84d0fc.49d6f",
        "name": "show RECORDS",
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "",
        "topic": "SELECT * FROM DATA ORDER BY TIMESTAMP DESC LIMIT 100",
        "payload": "",
        "payloadType": "date",
        "x": 170,
        "y": 20,
        "wires": [
            [
                "41186c79.d2be6c"
            ]
        ]
    },
    {
        "id": "d4d337ca.8077b8",
        "type": "ui_template",
        "z": "7f84d0fc.49d6f",
        "group": "e38f7bf677b4d54a",
        "name": "UI Table",
        "order": 1,
        "width": "",
        "height": "",
        "format": "<style>\n.table\n{\n    height:400px;\n    width:550px;\n    background:lightblue;\n}\n</style>\n<div class=\"table\">\n<table style=\"width:100%\">\n  <tr>\n    <th>TIMESTAMP</th> \n    <th>SENSOR</th>\n    <th>TEMPERATURE</th> \n    <th>HUMIDITY</th>\n  \n  </tr>\n  <tr ng-repeat=\"x in msg.payload | limitTo:10\">\n    <td>{{msg.payload[$index].TIMESTAMP}}</td>\n    <td>{{msg.payload[$index].SENSOR}}</td>\n    <td>{{msg.payload[$index].TEMPERATURE}}</td> \n    <td>{{msg.payload[$index].HUMIDITY}}</td>\n\n  </tr>\n</table>\n</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": false,
        "templateScope": "local",
        "className": "",
        "x": 780,
        "y": 60,
        "wires": [
            []
        ]
    },
    {
        "id": "d073f7fa.a7d388",
        "type": "inject",
        "z": "7f84d0fc.49d6f",
        "name": "Test Data",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 120,
        "y": 500,
        "wires": [
            [
                "8bc74a92.321318"
            ]
        ]
    },
    {
        "id": "8bc74a92.321318",
        "type": "function",
        "z": "7f84d0fc.49d6f",
        "name": "test data",
        "func": "var count=context.get('count');\nvar timestamp=context.get('timestamp');\n\nif (count==undefined)\n{\n    count=1;\n    timestamp=1;\n}\nvar data1={\"sensor\":\"sensor1\",\"temperature\":21,\"humidity\":61};\n//var data2={\"sensor\":\"sensor2\",\"temperature\":22,\"humidity\":62};\n//var data3={\"sensor\":\"sensor3\",\"temperature\":23,\"humidity\":63};\nif (count%20==0)\n    count=-count;\ndata1.temperature+=(count*.25);\n//data2.temperature+=(count*.5);\n//data3.temperature+=(count*.75);\ndata1.humidity+=(count*.25);\n//data2.humidity+=(count*.5);\n//data3.humidity+=(count*.75);\nmsg.payload=[data1];\nvar msg1={};\nvar msg2={};\nvar msg3={};\n\ndata1.timestamp=timestamp;\n//timestamp+=1;\n//data2.timestamp=timestamp;\n//timestamp+=1;\n//data3.timestamp=timestamp;\n\nmsg1.payload=data1;\n//msg2.payload=data2;\n//msg3.payload=data3;\ntimestamp+=1;\ncount+=1;\ncontext.set('count',count);\ncontext.set('timestamp',timestamp);\nreturn msg1;",
        "outputs": 1,
        "noerr": 0,
        "x": 240,
        "y": 600,
        "wires": [
            [
                "357d9b0a.e10d2c",
                "e16707b5.494488"
            ]
        ]
    },
    {
        "id": "357d9b0a.e10d2c",
        "type": "debug",
        "z": "7f84d0fc.49d6f",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 550,
        "y": 640,
        "wires": []
    },
    {
        "id": "e16707b5.494488",
        "type": "function",
        "z": "7f84d0fc.49d6f",
        "name": "write query",
        "func": "var timestamp=msg.payload.timestamp;\nvar sensor=msg.payload.sensor;\nvar temperature=msg.payload.temperature;\nvar humidity=msg.payload.humidity;\n//put data into json string\n\nmsg=\"( timestamp,sensor,temperature,humidity) values(\"+timestamp +\",\\'\"+sensor +\"\\',\" + temperature + \",\" + humidity +\")\";\nvar topic=\"INSERT INTO DATA \" +msg;\nvar msg1={};\nmsg1.topic=topic;\nmsg1.payload=timestamp;\nreturn msg1;",
        "outputs": 1,
        "noerr": 0,
        "x": 370,
        "y": 480,
        "wires": [
            [
                "76a1ebe4.7141cc",
                "f01afa9c.2efe7"
            ]
        ]
    },
    {
        "id": "76a1ebe4.7141cc",
        "type": "debug",
        "z": "7f84d0fc.49d6f",
        "name": "sql out",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 490,
        "y": 440,
        "wires": []
    },
    {
        "id": "3ad7c728.b01598",
        "type": "function",
        "z": "7f84d0fc.49d6f",
        "name": "Insert using variable",
        "func": "var sensor=\"sensor5\";\nmsg=\"( timestamp,sensor,temperature,humidity) values(4,\"+\"\\'\"+sensor +\"\\'\" + \",20,66)\";\nvar topic=\"INSERT INTO DATA \" +msg;\nvar msg1={};\nmsg1.topic=topic;\n\nreturn msg1;",
        "outputs": 1,
        "noerr": 0,
        "x": 340,
        "y": 380,
        "wires": [
            [
                "41be04d2.d76fc4",
                "aef24493.aeb0c8"
            ]
        ]
    },
    {
        "id": "aef24493.aeb0c8",
        "type": "debug",
        "z": "7f84d0fc.49d6f",
        "name": "insert",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 670,
        "y": 160,
        "wires": []
    },
    {
        "id": "f64d795d.fb6ae",
        "type": "catch",
        "z": "7f84d0fc.49d6f",
        "name": "",
        "scope": null,
        "uncaught": false,
        "x": 100,
        "y": 780,
        "wires": [
            [
                "32c27692.03eeaa",
                "36ed3df.88509c2"
            ]
        ]
    },
    {
        "id": "32c27692.03eeaa",
        "type": "debug",
        "z": "7f84d0fc.49d6f",
        "name": "error",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 290,
        "y": 820,
        "wires": []
    },
    {
        "id": "b922566a.497af8",
        "type": "ui_text",
        "z": "7f84d0fc.49d6f",
        "group": "d44d4f44.3219e8",
        "order": 7,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "text",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 410,
        "y": 740,
        "wires": []
    },
    {
        "id": "f01afa9c.2efe7",
        "type": "delay",
        "z": "7f84d0fc.49d6f",
        "name": "",
        "pauseType": "delay",
        "timeout": "1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "outputs": 1,
        "x": 540,
        "y": 560,
        "wires": [
            [
                "41be04d2.d76fc4"
            ]
        ]
    },
    {
        "id": "36ed3df.88509c2",
        "type": "function",
        "z": "7f84d0fc.49d6f",
        "name": "sql errors",
        "func": "var payload=msg.error.message;\nmsg.payload = payload +\" timestamp \"+msg.payload;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 260,
        "y": 720,
        "wires": [
            [
                "b922566a.497af8"
            ]
        ]
    },
    {
        "id": "f1424658.30cf38",
        "type": "inject",
        "z": "7f84d0fc.49d6f",
        "name": "Drop Table",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "topic": "drop table data",
        "payload": "",
        "payloadType": "date",
        "x": 140,
        "y": 180,
        "wires": [
            [
                "41be04d2.d76fc4"
            ]
        ]
    },
    {
        "id": "2bc9495f.1b60de",
        "type": "inject",
        "z": "7f84d0fc.49d6f",
        "name": "insert",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 130,
        "y": 240,
        "wires": [
            [
                "c0c0246e.0f5ed"
            ]
        ]
    },
    {
        "id": "e33e7ff6.a8878",
        "type": "function",
        "z": "7f84d0fc.49d6f",
        "name": "Clear errors",
        "func": "node.error(\"\",msg);//clear error\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 310,
        "y": 960,
        "wires": [
            []
        ]
    },
    {
        "id": "5a600e15.2c12a8",
        "type": "inject",
        "z": "7f84d0fc.49d6f",
        "name": "clear errors",
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "str",
        "x": 110,
        "y": 920,
        "wires": [
            [
                "e33e7ff6.a8878"
            ]
        ]
    },
    {
        "id": "e3d941d6.71e9f8",
        "type": "inject",
        "z": "7f84d0fc.49d6f",
        "name": "",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 100,
        "y": 1360,
        "wires": [
            [
                "64ab6c84.0329dc"
            ]
        ]
    },
    {
        "id": "64ab6c84.0329dc",
        "type": "function",
        "z": "7f84d0fc.49d6f",
        "name": "",
        "func": "var data={};\ndata[\"temp\"]=20;\ndata[\"humidity\"]=50;\njson_out=JSON.stringify(data);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 270,
        "y": 1400,
        "wires": [
            []
        ]
    },
    {
        "id": "41be04d2.d76fc4",
        "type": "sqlite",
        "z": "7f84d0fc.49d6f",
        "mydb": "f5a33dc2.f6f08",
        "sqlquery": "msg.topic",
        "sql": "",
        "name": "",
        "x": 470,
        "y": 220,
        "wires": [
            [
                "df3ec565.41cf"
            ]
        ]
    },
    {
        "id": "41186c79.d2be6c",
        "type": "sqlite",
        "z": "7f84d0fc.49d6f",
        "mydb": "f5a33dc2.f6f08",
        "sqlquery": "msg.topic",
        "sql": "",
        "name": "",
        "x": 430,
        "y": 40,
        "wires": [
            [
                "d4d337ca.8077b8"
            ]
        ]
    },
    {
        "id": "2b96f5b22e3b6ae5",
        "type": "debug",
        "z": "ebf8df8a470fbb3e",
        "name": "debug 4",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 920,
        "y": 120,
        "wires": []
    },
    {
        "id": "f792e1c4de304f58",
        "type": "DuloNodeHub",
        "z": "ebf8df8a470fbb3e",
        "name": "",
        "plan": "Unknown",
        "x": 460,
        "y": 120,
        "wires": [
            [
                "3c276b5b6c76558c"
            ]
        ]
    },
    {
        "id": "3c276b5b6c76558c",
        "type": "DuloNodeDevice",
        "z": "ebf8df8a470fbb3e",
        "name": "luz sala",
        "deviceType": "light",
        "x": 700,
        "y": 120,
        "wires": [
            [
                "2b96f5b22e3b6ae5"
            ]
        ]
    },
    {
        "id": "11d3ad50f3f525b2",
        "type": "debug",
        "z": "e6beddd063317a40",
        "name": "Complete Response",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 620,
        "y": 280,
        "wires": []
    },
    {
        "id": "c146108c23956682",
        "type": "inject",
        "z": "e6beddd063317a40",
        "name": "",
        "props": [
            {
                "p": "input",
                "v": "Hello World!",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 150,
        "y": 440,
        "wires": [
            [
                "8968548ebd9bc6ad"
            ]
        ]
    },
    {
        "id": "be1fa8bc83fc997d",
        "type": "debug",
        "z": "e6beddd063317a40",
        "name": "ChatGPT Response",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload.choices[0].message.content",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 760,
        "y": 440,
        "wires": []
    },
    {
        "id": "252e3a73e98fee1a",
        "type": "debug",
        "z": "e6beddd063317a40",
        "name": "List of Models and Descriptions",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload.body.data",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 650,
        "y": 340,
        "wires": []
    },
    {
        "id": "a4a0d2e454b2d13f",
        "type": "gptapi",
        "z": "e6beddd063317a40",
        "name": "",
        "apiKey": "",
        "apiEndpoint": "/v1/chat/completions",
        "defaultModel": "gpt-4",
        "defaultTemperature": 0.7,
        "defaultMaxTokens": 1024,
        "x": 540,
        "y": 440,
        "wires": [
            [
                "be1fa8bc83fc997d"
            ]
        ]
    },
    {
        "id": "8968548ebd9bc6ad",
        "type": "gptprompt",
        "z": "e6beddd063317a40",
        "name": "",
        "messages": [
            {
                "role": "system",
                "content": "You are a Node-RED assistant for beginners.",
                "content-type": "str"
            },
            {
                "role": "user",
                "content": "input",
                "content-type": "msg"
            }
        ],
        "x": 330,
        "y": 440,
        "wires": [
            [
                "a4a0d2e454b2d13f"
            ]
        ]
    },
    {
        "id": "f2675090c0b25571",
        "type": "gptmodels",
        "z": "e6beddd063317a40",
        "name": "",
        "apiKey": "",
        "apiEndpoint": "/v1/models",
        "x": 360,
        "y": 280,
        "wires": [
            [
                "11d3ad50f3f525b2",
                "252e3a73e98fee1a"
            ]
        ]
    }
]