flows.json
[
    {
        "id": "8c47e81d6c0d7f24",
        "type": "tab",
        "label": "comandos",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "5024414ceab8c8b2",
        "type": "tab",
        "label": "sonoff",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "6ba80d9a73c1b250",
        "type": "tab",
        "label": "tabla",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "fd0fab0ccbf119b7",
        "type": "tab",
        "label": "circuitos rack",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "0e532777838320eb",
        "type": "tab",
        "label": "luces oficina",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "9e23ca12.c7d9d",
        "type": "tab",
        "label": "speedtest",
        "disabled": false,
        "info": ""
    },
    {
        "id": "dd1fa0a280aa81d2",
        "type": "tab",
        "label": "Flujo 2",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "31a99116.50a74e",
        "type": "mqtt-broker",
        "name": "",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "9746f5e73a10a06f",
        "type": "mqtt-broker",
        "name": "",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "743acd8e3da72623",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "05cd1bad6830275a",
        "type": "ui_base",
        "theme": {
            "name": "theme-dark",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "reset": false
            },
            "themeState": {
                "base-color": {
                    "default": "#097479",
                    "value": "#097479",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#111111",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#0eb8c0",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#555555",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#eeeeee",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#333333",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "6bd222ac346f1e94",
        "type": "ui_group",
        "name": "Default",
        "tab": "743acd8e3da72623",
        "order": 1,
        "disp": true,
        "width": "25",
        "collapse": false,
        "className": ""
    },
    {
        "id": "8d8140ebb010027f",
        "type": "ui_tab",
        "name": "Grafica estado",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "217c870c3da20c03",
        "type": "ui_group",
        "name": "Estado servidor",
        "tab": "8d8140ebb010027f",
        "order": 1,
        "disp": true,
        "width": "23",
        "collapse": false,
        "className": ""
    },
    {
        "id": "2cf015107704904d",
        "type": "ui_tab",
        "name": "Rack",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "a0e1664bf67b8f20",
        "type": "ui_group",
        "name": "Salidas",
        "tab": "2cf015107704904d",
        "order": 1,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "b0c1535decc5cb95",
        "type": "ui_group",
        "name": "Default",
        "tab": "2cf015107704904d",
        "order": 2,
        "disp": true,
        "width": "12",
        "collapse": false,
        "className": ""
    },
    {
        "id": "1df6106ece23609a",
        "type": "ui_link",
        "name": "Link 5",
        "icon": "open_in_browser",
        "target": "newtab",
        "order": 5
    },
    {
        "id": "41840351ade04a83",
        "type": "ui_link",
        "name": "Link 6",
        "icon": "open_in_browser",
        "target": "newtab",
        "order": 6
    },
    {
        "id": "1595f349.f61db5",
        "type": "ui_tab",
        "name": "Sites",
        "icon": "dashboard",
        "order": 3
    },
    {
        "id": "1cc42b54.99f39d",
        "type": "ui_group",
        "name": "Speed",
        "tab": "1595f349.f61db5",
        "order": 2,
        "disp": true,
        "width": "20",
        "collapse": false
    },
    {
        "id": "8274941a.73344",
        "type": "sqlitedb",
        "db": "/home/pi/.node-red/data/sites.db",
        "mode": "RWC"
    },
    {
        "id": "5addf68094c598c3",
        "type": "ui_group",
        "name": "Default",
        "tab": "1595f349.f61db5",
        "order": 2,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "bc7760429d1cafbf",
        "type": "inject",
        "z": "8c47e81d6c0d7f24",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 220,
        "y": 80,
        "wires": [
            [
                "4eeefcde8603177a"
            ]
        ]
    },
    {
        "id": "4eeefcde8603177a",
        "type": "debug",
        "z": "8c47e81d6c0d7f24",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 580,
        "y": 140,
        "wires": []
    },
    {
        "id": "bf1734b93fd4b3eb",
        "type": "exec",
        "z": "8c47e81d6c0d7f24",
        "command": "ping google.com",
        "addpay": "payload",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 520,
        "y": 280,
        "wires": [
            [
                "9d57a2fa79c11126"
            ],
            [],
            []
        ]
    },
    {
        "id": "b5be0dec28c73398",
        "type": "inject",
        "z": "8c47e81d6c0d7f24",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 760,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "9d57a2fa79c11126",
        "type": "debug",
        "z": "8c47e81d6c0d7f24",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 760,
        "y": 300,
        "wires": []
    },
    {
        "id": "c8c4f36cd73581f1",
        "type": "inject",
        "z": "8c47e81d6c0d7f24",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 260,
        "y": 260,
        "wires": [
            [
                "bf1734b93fd4b3eb"
            ]
        ]
    },
    {
        "id": "c769d64b85990897",
        "type": "ui_chart",
        "z": "8c47e81d6c0d7f24",
        "name": "",
        "group": "217c870c3da20c03",
        "order": 0,
        "width": "23",
        "height": "14",
        "label": "chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 630,
        "y": 400,
        "wires": [
            []
        ]
    },
    {
        "id": "b227e5a55ca2c692",
        "type": "ping",
        "z": "8c47e81d6c0d7f24",
        "protocol": "Automatic",
        "mode": "timed",
        "name": "estado servidor",
        "host": "www.google.com",
        "timer": "5",
        "inputs": 0,
        "x": 360,
        "y": 380,
        "wires": [
            [
                "c769d64b85990897"
            ]
        ]
    },
    {
        "id": "dc0791b78935c90d",
        "type": "promptinput",
        "z": "8c47e81d6c0d7f24",
        "name": "",
        "datatype": "str",
        "prompt": "",
        "property": "payload",
        "propertyType": "msg",
        "validation": "",
        "validationType": "ejsonata",
        "x": 190,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "23cf19f30950dc60",
        "type": "inject",
        "z": "8c47e81d6c0d7f24",
        "name": "ping",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "sudo ping 8.8.8.8",
        "payloadType": "str",
        "x": 190,
        "y": 420,
        "wires": [
            [
                "8b4dc4572397daab"
            ]
        ]
    },
    {
        "id": "716a42db87720ee1",
        "type": "debug",
        "z": "8c47e81d6c0d7f24",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 520,
        "y": 440,
        "wires": []
    },
    {
        "id": "8b4dc4572397daab",
        "type": "exec",
        "z": "8c47e81d6c0d7f24",
        "command": "",
        "addpay": "payload",
        "append": "",
        "useSpawn": "true",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 340,
        "y": 440,
        "wires": [
            [
                "716a42db87720ee1"
            ],
            [],
            []
        ]
    },
    {
        "id": "e9ade7b5dd0c05e5",
        "type": "aedes broker",
        "z": "5024414ceab8c8b2",
        "name": "",
        "mqtt_port": 1883,
        "mqtt_ws_bind": "port",
        "mqtt_ws_port": "",
        "mqtt_ws_path": "",
        "cert": "",
        "key": "",
        "certname": "",
        "keyname": "",
        "dburl": "",
        "usetls": false,
        "x": 370,
        "y": 80,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "1c1c43337d75c705",
        "type": "mqtt in",
        "z": "5024414ceab8c8b2",
        "name": "",
        "topic": "xx",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "9746f5e73a10a06f",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 630,
        "y": 60,
        "wires": [
            []
        ]
    },
    {
        "id": "a792c41b39b91f1b",
        "type": "mqtt out",
        "z": "5024414ceab8c8b2",
        "name": "",
        "topic": "hh",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "31a99116.50a74e",
        "x": 90,
        "y": 60,
        "wires": []
    },
    {
        "id": "1ade89c8dfce393d",
        "type": "amazon-echo-device",
        "z": "5024414ceab8c8b2",
        "name": "oficina",
        "topic": "encender",
        "x": 170,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "5aac47247eea5362",
        "type": "amazon-echo-hub",
        "z": "5024414ceab8c8b2",
        "port": "8080",
        "processinput": "3",
        "discovery": true,
        "x": 370,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "31a99116.86e71",
        "type": "Sonoff device",
        "z": "5024414ceab8c8b2",
        "mode": "0",
        "broker": "31a99116.50a74e",
        "device": "light_livingroom",
        "name": "Living Room Light",
        "onValue": "ON",
        "offValue": "OFF",
        "cmdPrefix": "cmnd",
        "statPrefix": "stat",
        "telePrefix": "tele",
        "x": 650,
        "y": 440,
        "wires": [
            []
        ]
    },
    {
        "id": "af021b2a8951a67a",
        "type": "mqtt-check",
        "z": "5024414ceab8c8b2",
        "host": "",
        "port": "",
        "username": "",
        "password": "",
        "name": "",
        "x": 380,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "af7560574faf76b4",
        "type": "inject",
        "z": "6ba80d9a73c1b250",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 280,
        "y": 160,
        "wires": [
            [
                "314f7d9631e686d4"
            ]
        ]
    },
    {
        "id": "314f7d9631e686d4",
        "type": "ui_table",
        "z": "6ba80d9a73c1b250",
        "group": "6bd222ac346f1e94",
        "name": "jjj",
        "order": 0,
        "width": "25",
        "height": "1",
        "columns": [],
        "outputs": 1,
        "cts": true,
        "x": 670,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "7273aad9503671b3",
        "type": "ui_switch",
        "z": "fd0fab0ccbf119b7",
        "name": "",
        "label": "switch",
        "tooltip": "",
        "group": "a0e1664bf67b8f20",
        "order": 11,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 130,
        "y": 60,
        "wires": [
            [
                "f6edbdba7e3c93e7"
            ]
        ]
    },
    {
        "id": "021ba9fa82cc1a5b",
        "type": "ui_switch",
        "z": "fd0fab0ccbf119b7",
        "name": "",
        "label": "switch",
        "tooltip": "",
        "group": "a0e1664bf67b8f20",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 130,
        "y": 140,
        "wires": [
            [
                "033a8c1e71eb55a8"
            ]
        ]
    },
    {
        "id": "16727cc8b297ef59",
        "type": "ui_switch",
        "z": "fd0fab0ccbf119b7",
        "name": "",
        "label": "switch",
        "tooltip": "",
        "group": "a0e1664bf67b8f20",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 130,
        "y": 200,
        "wires": [
            [
                "ca2f72dc32f219bf"
            ]
        ]
    },
    {
        "id": "b0648fc85fa37c7d",
        "type": "ui_switch",
        "z": "fd0fab0ccbf119b7",
        "name": "",
        "label": "switch",
        "tooltip": "",
        "group": "a0e1664bf67b8f20",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 130,
        "y": 260,
        "wires": [
            [
                "5d4895e6477e8c8b"
            ]
        ]
    },
    {
        "id": "5ec35365808f527e",
        "type": "ui_switch",
        "z": "fd0fab0ccbf119b7",
        "name": "",
        "label": "switch",
        "tooltip": "",
        "group": "a0e1664bf67b8f20",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 130,
        "y": 320,
        "wires": [
            [
                "832cbf49e66223b5"
            ]
        ]
    },
    {
        "id": "030c1e3c0b1270c8",
        "type": "ui_switch",
        "z": "fd0fab0ccbf119b7",
        "name": "",
        "label": "switch",
        "tooltip": "",
        "group": "a0e1664bf67b8f20",
        "order": 6,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 130,
        "y": 380,
        "wires": [
            [
                "e19cb7a2dcd2b47c"
            ]
        ]
    },
    {
        "id": "f6edbdba7e3c93e7",
        "type": "ui_led",
        "z": "fd0fab0ccbf119b7",
        "order": 6,
        "group": "b0c1535decc5cb95",
        "width": 0,
        "height": 0,
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#008000",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "",
        "x": 430,
        "y": 60,
        "wires": []
    },
    {
        "id": "033a8c1e71eb55a8",
        "type": "ui_led",
        "z": "fd0fab0ccbf119b7",
        "order": 1,
        "group": "a0e1664bf67b8f20",
        "width": 0,
        "height": 0,
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#008000",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "",
        "x": 450,
        "y": 140,
        "wires": []
    },
    {
        "id": "ca2f72dc32f219bf",
        "type": "ui_led",
        "z": "fd0fab0ccbf119b7",
        "order": 7,
        "group": "a0e1664bf67b8f20",
        "width": 0,
        "height": 0,
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#008000",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "",
        "x": 450,
        "y": 200,
        "wires": []
    },
    {
        "id": "5d4895e6477e8c8b",
        "type": "ui_led",
        "z": "fd0fab0ccbf119b7",
        "order": 8,
        "group": "a0e1664bf67b8f20",
        "width": 0,
        "height": 0,
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#008000",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "",
        "x": 450,
        "y": 260,
        "wires": []
    },
    {
        "id": "832cbf49e66223b5",
        "type": "ui_led",
        "z": "fd0fab0ccbf119b7",
        "order": 9,
        "group": "a0e1664bf67b8f20",
        "width": 0,
        "height": 0,
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#008000",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "",
        "x": 450,
        "y": 320,
        "wires": []
    },
    {
        "id": "e19cb7a2dcd2b47c",
        "type": "ui_led",
        "z": "fd0fab0ccbf119b7",
        "order": 10,
        "group": "a0e1664bf67b8f20",
        "width": 0,
        "height": 0,
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#008000",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "",
        "x": 450,
        "y": 380,
        "wires": []
    },
    {
        "id": "c1750149.7c5bf",
        "type": "inject",
        "z": "9e23ca12.c7d9d",
        "name": "",
        "repeat": "3600",
        "crontab": "",
        "once": true,
        "onceDelay": "1",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 150,
        "y": 160,
        "wires": [
            [
                "1c7eebf4.fbb444"
            ]
        ]
    },
    {
        "id": "1c7eebf4.fbb444",
        "type": "exec",
        "z": "9e23ca12.c7d9d",
        "command": "speedtest-cli",
        "addpay": false,
        "append": "--json",
        "useSpawn": "false",
        "timer": "60",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 210,
        "y": 60,
        "wires": [
            [
                "d4353dc7.c7c868",
                "f21a113.9e6507"
            ],
            [],
            [
                "f21a113.9e6507"
            ]
        ]
    },
    {
        "id": "fb779c41.018bc",
        "type": "ui_chart",
        "z": "9e23ca12.c7d9d",
        "name": "",
        "group": "5addf68094c598c3",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "Internet Speed",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "24",
        "removeOlder": "12",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#fcb09a",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 640,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "d4353dc7.c7c868",
        "type": "function",
        "z": "9e23ca12.c7d9d",
        "name": "main function",
        "func": "var payload=JSON.parse(msg.payload);\nvar download=(payload.download/1000000).toFixed(2);\nvar upload=(payload.upload/1000000).toFixed(2);\nvar timestamp=payload.timestamp;\nd=new Date(timestamp);\ntimestamp=d.getTime();\n//msg.payload=[download,upload,timestamp];\nm_out=\"( timestamp,download,upload) values(\"+timestamp +\",\\'\"+download +\"\\'\" +\",\\'\"+ upload+\"\\')\";\nvar topic=\"INSERT INTO SPEED \" +m_out;\nmsg.topic=topic;\nmsg.payload=\"\";\n\nvar msg2={};\nvar msg3={};\nmsg2.topic=\"download\";\nmsg2.payload=download;\nmsg3.topic=\"upload\";\nmsg3.payload=upload;\nvar msg1=[msg2,msg3];\nreturn [msg,msg1];",
        "outputs": 2,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 430,
        "y": 80,
        "wires": [
            [
                "6b731213.4cf244"
            ],
            [
                "fb779c41.018bc"
            ]
        ]
    },
    {
        "id": "f90f3601.c2b66",
        "type": "inject",
        "z": "9e23ca12.c7d9d",
        "name": "Create table speed",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "CREATE TABLE SPEED(TIMESTAMP INT PRIMARY KEY NOT NULL, DOWNLOAD TEXT NOT NULL, UPLOAD TEXT NOT NULL)",
        "payload": "",
        "payloadType": "str",
        "x": 170,
        "y": 240,
        "wires": [
            [
                "6b731213.4cf244"
            ]
        ]
    },
    {
        "id": "480cb353.f8170c",
        "type": "inject",
        "z": "9e23ca12.c7d9d",
        "name": "drop table speed",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "drop table speed",
        "payload": "",
        "payloadType": "str",
        "x": 160,
        "y": 300,
        "wires": [
            [
                "6b731213.4cf244"
            ]
        ]
    },
    {
        "id": "4d6a8c52.90fd9c",
        "type": "inject",
        "z": "9e23ca12.c7d9d",
        "name": "remove all records-speed",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "DELETE FROM SPEED WHERE TIMESTAMP>=0",
        "payload": "",
        "payloadType": "str",
        "x": 190,
        "y": 360,
        "wires": [
            [
                "6b731213.4cf244"
            ]
        ]
    },
    {
        "id": "4585c942.f34e18",
        "type": "debug",
        "z": "9e23ca12.c7d9d",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 550,
        "y": 320,
        "wires": []
    },
    {
        "id": "f21a113.9e6507",
        "type": "debug",
        "z": "9e23ca12.c7d9d",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 370,
        "y": 160,
        "wires": []
    },
    {
        "id": "6b731213.4cf244",
        "type": "sqlite",
        "z": "9e23ca12.c7d9d",
        "mydb": "8274941a.73344",
        "sqlquery": "msg.topic",
        "sql": "",
        "name": "sites database",
        "x": 560,
        "y": 260,
        "wires": [
            [
                "4585c942.f34e18"
            ]
        ]
    }
]